{% extends "maintemplate.html" %}
{% load staticfiles %}
{% block body_block %}

<div class="row-fluid">
<div class="span12">
<div class="hero-unit">
<h1>About Maiagogo<h1>

<p class="lead">
  Welcome to <strong>Maiagogo's about page</strong>.<br />
  I am happy to see you here:).
  </p>

<img src="{% static 'mai.png' %}"  width="100%" height="100%" alt="Picture of Rango" />


</div>
</div>
</div>
<div class="row-fluid">
<div class="span12">
<img src="{% static 'python.png' %}"  width="100%" height="100%" alt="Picture of Rango" />
</div>
</div>
<div class="row-fluid">
<div class="span12">
    <p><h2>Introduction<h2></p>
 <p class="lead">
    Have you ever felt that the world is more and more about technology to 
which you can't relate?
Have you ever wondered how to create a website but have never had 
enough motavation and resources to start?
Have you ever thought that the software world is too complicated for you to even
try doing something on your own?
Have you ever felt that you want to learn how to code but you dont have enough motavation and resources to start or even wondered which programming language is best for you to start learnig programing?<br/>
<br/>
Well, <strong> Maiagogo</strong> has a good news for you! programming is not as hard as it seems it is time to start <strong >python
</strong> today and see how fun it can be
</p>
</div>
</div>
<div class="row-fluid">
<div class="span12">
<p><h2>Contact Information<h2></p>
</div>
</div>
<div class="row-fluid">
<div class="span6">
<div class="hero-unit">
<h3></h3><small>POSITION</small><br/>
 <p="lead">Graduate student of<br/>
Mathematics. <br/>
Member of NAMS<br/>
and Python Dev. Team
</p>
<br/>
</div>
</div>
<div class="span6">
<div class="hero-unit">
    <h3></h3><small>CONTACT DETAILS</small><br/>
    <p="lead">
    <strong>Phone: </strong>+2348161224166<br/>
    <strong>Email:</strong> maiagogopython@gmail.com<br/>
    <strong>Twitter:</strong> @Maiagogo<br/>
    <strong>Skype:</strong> Maiagogo<br/>
   <strong> Facebook:</strong>Maiagogo<br/>
</p>
</div>
</div>
</div>
{% endblock %}
